# Swap escape and capslock
setxkbmap -option caps:swapescape

# Stop screen from going blank
xset s off
xset -dpms
xset s noblank

# Faster key repeat and delay
xset r rate 270 35

# Fix dpi
xrandr --dpi 96